
  <!-- Header/Home -->
  <header class="w3-container w3-padding-32 w3-center w3-black" id="home">
	  <h1 class="w3-jumbo"><span class="w3-hide-small">Breaking Bad</span></h1>
    <p>Characters & Quotes</p>
    <img style="box-shadow: 0 0 10px 10px black inset;" src="images/BB.jpg" alt="boy" class="w3-image" width="1000" height="1108">
  <!-- src="https://vignette.wikia.nocookie.net/breakingbad/images/a/a1/Breaking_Bad_Title_Sequence.jpg/revision/latest/scale-to-width-down/1000?cb=20130705034816" -->
  </header>

  <!-- About Section -->
  <div class="w3-content w3-justify w3-text-grey w3-padding-64" id="about">
    <h2 class="w3-text-light-grey">About Project</h2>
    <hr style="width:200px" class="w3-opacity">
    <p>This was our first project in Flatiron's Software Engineering program. Originally this project was done for CLI (Command Line Interface) but I always thought it would look much better in a web browser. It would be much easier to navigate.
    Fortunately our next segment of studying was Sinatra, simple web framework, that enabled me to do just that. This is the result, list of Breaking bad characters with links to their full info
    and quotes if any are associated with the said character. 
    Database is populated via API call that I've placed in seeds.rb file. Reason for that is that I wanted full control, i.e. manual control of API calls and populating the database.
    </p>
    <p>
    For expediency sake I've used W3 school free HTML templates for the project. 
    </p>
  </div>